/* tirar bordas brancas que o browser coloca automaticamente*/
*{margin:0;
  padding:0}

  body{
  text-align: center;
  background-position: absolute;
  font-size: 25px;

}
.neon{
  width: 100%;
	height: 100vh;
	
	top: 0px;
	left: 0px;
	/* background: rgba(140, 0, 255, .81); */
	background:-moz-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
	background:   -webkit-gradient( left bottom, right top, color-stop (0%, rgba(140, 0, 255, .6) ), color-stop(100%, rgba(2, 242, 114, .7) ) );
	/* background: -webkit-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%); */
	background:  -o-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
	background: -ms-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
	background:     linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c00ff', endColorstr='#02f272', GradientType=1);*/
	z-index: 100;
	-webkit-transform: translate3d(0, 0, 0);
}


#grad {

  /*
    background-image: linear-gradient(180deg, #00F2FE 0%, #4FACFE 100%);
  background-image: linear-gradient(180deg, #B224EF 0%, #7579FF 100%);
  background-image: linear-gradient(180deg, #F093FB 0%, #F5576C 100%);
background-image: linear-gradient(180deg, #FFFEFF 0%, #D7FFFE 100%);
  background-image: linear-gradient(180deg, #FFD200 0%, #F7971E 100%);
  background-image: linear-gradient(180deg, #F09819 -27.88%, #FF512F 58.7%);*/
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#gradbut {
background: linear-gradient(180deg, #00F2FE 0%, #4FACFE 100%);
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
width: 320px;
height: 72px;
left: 50px;
top: 70px;
}


#icons {
font-size: 25px;
word-spacing: 5px;
padding: 10px;
justify-content: center;
display: flex;
}

#icons a {
  /* espaçamento entre os ícones */
  margin: 10px;
  /* aumentar tamanho dos ícones*/
  font-size: 50px;
}

/* */
